/* General styles */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
  }
   

  /* Navigation styles */
  .navbar {
    display: flex;
    gap: 100px;
    background-color:rgb(197, 141, 68);
    align-items: center;
    width: 100%;
    height:10vh ;
    position: fixed;
    justify-content: space-evenly;
  }
  
  .navbar li {
    list-style: none;
    margin-right: 10px;
  }
  
  .navbar a{
    margin-top: 30px;
    text-decoration: none;
    color: white;
    font-size: 23px;
  }

  nav {
    width: 100%;
    display: flex;
    background-color:rgb(197, 141, 68);
  }

  #logoimg {
    position: fixed;
    z-index: 1;
  }

  #logo {
    width: 150px;
    height: 69px;
    border-radius: 5px;
  }

  .menubar{
    display: none;
    left: 95%;
    margin-top: 20px;
    position: fixed;
  }
  
  /* Section styles */
  section {
    padding: 20px;
  }
  
  /* Home section */
  
  .caption{
    margin-top: 100px;
    background-color: gray;
    height: 120px;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 20px;
    align-items: center;
    align-content: center;
    
  }

  .caption h1{
    padding-top: 20px;
    color: white;
    text-align: center;
    padding-bottom: 30px; 
  }

  .caption p{
    font-size: larger;
    color:white;
   margin-top: -20px; 
    text-align: center;

  }
  
  .card1 {
    
    width: 100%;
    background-color:rgb(218, 203, 119);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .card1-image {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
  }

  .card1-content {
    margin-top: 20px;
  }

  .card1 p {
    font-size: 18px;
    color:white;
    text-align: justify;
    
  }
  
  .card1 img {
    border-radius: 10px;
    
    width: 100%;
    height: 800px;
  }
    
  .card2 {
    margin-top: 30px;
    width: 100%;
    background-color:rgb(218, 203, 119);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 10px; 
  }
  
  .card2-image {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
  }

  .card2-content {
    margin-top: 20px;
  }

  .card2 p {
    font-size: 18px;
    color:white;
    text-align: justify;
  }
  
  .card2 img {
    border-radius: 10px;
    width: 100%;
    height: 800px;
  }

  /* About section */
  
  .us{
    display: flex;
    width: 100%;
    height:100px ;
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: gray;
    color: white;
    border-radius: 20px;
    margin-bottom: 30px;
  }

  .us h2{
    margin-left: 650px;
  }
  
  .card3 {
    
    width: 100%;
    background-color:rgb(218, 203, 119);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px;
  }
  
  .card3-image {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
  }

  .card3-content {
    margin-top: 20px;
  }

  .card3 p {
    font-size: 18px;
    color:white;
    text-align: justify;
  }
  
  .card3 img {
    border-radius: 10px;
    width: 100%;
    height: 800px;
  }

  .card4 {
    
    width: 100%;
    background-color:rgb(218, 203, 119);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px;
  }
  
  .card4-image {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
  }

  .card4-content {
    margin-top: 20px;
  }

  .card4 p {
    font-size: 18px;
    color:white;
    text-align: justify;
    
  }
  
  .card4 img {
    border-radius: 10px;
    width: 100%;
    height: 800px;
  }

  .card5 {
    
    width: 100%;
    background-color:rgb(218, 203, 119);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .card5-image {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
  }

  .card5-content {
    margin-top: 20px;
  }

  .card5 p {
    font-size: 18px;
    color:white;
    text-align: justify;
  }
  
  .card5 img {
    border-radius: 10px;
    width: 100%;
    height: 800px;
  }
  
  /* Services section */
  

  .service{
    display: flex;
    width: 100%;
    height:100px ;
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: gray;
    color: white;
    border-radius: 20px;
    margin-bottom: 30px;
    
  }

  .service h2{
    margin-left: 650px;
  }
  
  ul {
    padding: 0;
  }
  
  li {
    list-style: none;
    margin-bottom: 20px;
  }

  .money-transfer {
    width: 100%;
    background-color:rgb(218, 203, 119);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px;
  }

  .head1{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

 
  .head1-image {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
  }

  .head1-content {
    margin-top: 20px;
  }

  .head1-content p {
    font-size: 18px;
    color:white;
    text-align: justify;
    
  }
  
  .head1-image img {
    border-radius: 10px;
    width: 100%;
    height: 800px;
  }

  .business-payment {
    width: 100%;
    background-color:rgb(218, 203, 119);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px;
  }

  .head2{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .head2-image {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
  }

  .head2-content {
    margin-top: 20px;
  }

  .head2-content p {
    font-size: 18px;
    color:white;
    text-align: justify;
  }
  
  .head2-image img {
    border-radius: 10px;
    width: 100%;
    height: 800px;
  }

  .real-time {
    width: 100%;
    background-color:rgb(218, 203, 119);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px;
  }

  .head3{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .head3-image {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
  }

  .head3-content {
    margin-top: 20px;
  }

  .head3-content p {
    font-size: 18px;
    color:white;
    text-align: justify;
  }
  
  .head3-image img {
    border-radius: 10px;
    width: 100%;
    height: 800px;
  }

  
  /* Contact section */
  #contact {
    background-color:#efbc9b;
    width: 100%;
  }
  
  .contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    height:400px ;
    font-size: 20px;
    color: white;
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: rgb(197, 141, 68);
    border-radius: 20px;
    padding-bottom: 30px;
    
  }

  .bar h2{
    padding: 20px;
  }

  .info p{
    padding-bottom: 15px;
  }

  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    background-color:rgb(122, 117, 117);
    color:white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  #home,
  #services,
  #contact,
  #about{
    background-color: #efbc9b;
  }
  

  #mobileview {
    display: none;
    position: absolute;
    top: 8%;
    left: 90%;
    width: 20%;
    height: 30vh;
    background-color: gray;
    border-radius: 10px;
    text-align: center;
    margin: 1em;
  }

  #mobileview .navbar2 li a {
    padding: 1em;
    color: white;
    text-decoration: none;
  }

  /* Mobile Devices */
@media (max-width: 480px) {
  /* Adjustments for mobile devices */

  .navbar {
    display: none;
  }

  #mobileview {
    display: none;
    left: 70%;
    width: 25%;
    text-align: center;
    position: fixed;
  }

  #close-btn {
    background-color: white;
    color: black;
    margin-left:60%;
  }

  .menubar {
    display: block;
    left: 85%;
    position: fixed;
  }

  #menu-button{
    color:black;
    background-color: white;
  }

  #logoimg {
    position: fixed;
  }

  #logo{
    width: max-content;
  }

  #menu-button {
    display: block;
  }

  #nav-links {
    display: none; 
  }

  /* Example: Adjust the layout for smaller screens */
  .caption {
    text-align: center;
    height: fit-content;
    padding: 10px;
  }

  .us h2,
  .service h2{
    margin-left: 40%;
  }

  .card1,
  .card2,
  .card3,
  .card4,
  .card5 {
    width: 100%;
    height: 720px;
  }

  .card1-image,
  .card2-image,
  .card3-image,
  .card4-image,
  .card5-image {
    text-align: center;
  }

  .card1 p,
  .card2 p,
   .card3 p,
   .card4 p,
   .card5 p{
    font-size: 16px;
    text-align: left;

   }

  .card1 img,
  .card2 img,
  .card3 img,
  .card4 img,
  .card5 img{
    height: 250px;
  }

  .card1-content,
  .card2-content,
  .card3-content,
  .card4-content,
  .card5-content {
    text-align: left;
  }

  .money-transfer,
  .business-payment,
  .real-time{
    height: 640px;
  }

  .head1-image img,
  .head2-image img,
  .head3-image img{
    height: 250px;
  }

  .head1-content p,
  .head2-content p,
  .head3-content p{
    font-size: 16px;
    text-align: left;
  }

  .contact{
    height: 430px;
  }
  /* Add more CSS rules as needed for mobile devices */
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  /* Adjustments for tablet devices */

  .caption {
    text-align: center;
    width: 100%;
    height: max-content;
  }

  .us h2,
  .service h2{
    margin-left: 43%;
  }

  .card1,
  .card2,
  .card3,
  .card4,
  .card5 {
    width: 100%;
  }

  .card1 img,
  .card2 img,
  .card3 img,
  .card4 img,
  .card5 img{
    height: 450px;
  }

  .head1-image img,
  .head2-image img,
  .head3-image img{
    height: 450px;
  }


  .navbar {
    display: none;
  }

  #mobileview {
    display: none;
    left: 82%;
    width: 15%;
    text-align: center;
    position: fixed;
  }

  #close-btn {
    background-color: white;
    color: black;
    margin-left:61%;
  }

  .menubar {
    display: block;
    left: 85%;
    position: fixed;
  }

  #menu-button{
    color:black;
    background-color: white;
    margin-left: 95%;
  }

  /* Add more CSS rules as needed for tablets */
}

/* Laptops and Desktops */
@media (min-width: 1024px) {
  /* Adjustments for laptops and desktops */

  
  .caption {
    text-align: center;
  }

  .card1,
  .card2,
  .card3,
  .card4,
  .card5 {
    width: 100%;
  }
  /* Add more CSS rules as needed for laptops and desktops */
}

  
